{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="col d-flex justify-content-center"> 
    <div class="card bg-dark text-white p-5 m-5" style="position:initial; top: 5rem; width: 30rem">
        <h1>Login</h1>
        <form method="post" class="form-group">
            {% csrf_token %}
            {{form|crispy}}
            <button class="float-right mt-3 w-100 btn btn-primary" type="submit" class="btn btn-success">Login</button>
            <p class="small mt-3">Click cellow to create a new account.</p>
            <button class="btn w-100 btn-outline-success" onclick="location.href='../register/'">Create New Account</button>

        </form>
    </div>
</div>
{% endblock %}