{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="col d-flex justify-content-center"> 
    <div class="card bg-dark text-white p-5 m-4" style="position:initial; top: 5rem; width: 30rem">
        <h1>Register</h1>
        <form method="post" class="form-group">
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn w-100 mb-4 btn-success float-right" type="submit" class="btn btn-success">Create</button>
            <p class="small">Click Bellow if you already have an account.</p>
            <li class="nav-item w-100 btn btn-outline-primary pl-3" onclick="location.href='../login/'">Login</li>
        </form>

    </div>
</div>
{% endblock %}